body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(4, 53, 75);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



 h1 {
  margin: auto;
  font-family: 'Rubik', sans-serif;
  font-family: 'Signika', sans-serif;
  color: #f1f0f0;
  text-shadow:
    /* White glow */
    0 0 7px #2e2a2a,
    0 0 10px #141313,
    0 0 21px #0f0f0f,
    /* Green glow */
    0 0 42px rgb(95, 155, 135),
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

footer {
  color:white;
  text-align: center;
}

homecenter {
border: 12px;
margin: auto;

}

nav {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10px; /* Adjust this if needed */
}

.center-links {
  text-align: center;
}


img {
  border: 5px solid rgb(6, 75, 107);
}
a:link {
  color: rgb(171, 6, 67);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.new-game-name {
  color: white;
}

thead {
  color: rgb(222, 218, 218);
  margin: auto;
}

tbody {
  color: rgb(234, 218, 218);
}

.details-description {
  color: white;
}

button {
  background-color: rgb(3, 48, 63);
  border: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.login-container {
  background: 'splash_img.png';
  filter: blur(50px);
  -webkit-filter: blur(50px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  background-color: rgb(7, 45, 51);
  margin: auto;
  border: 300px;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 350px; /* Adjust the width to your desired size */
  padding: 30px; /* Adjust the padding to increase the internal space */
  border-radius: 8px;
  align-items: center;
  color: white;
  font-size: 18px;
}


.signup-form {
  background-color: rgb(7, 45, 51);
  margin: auto;
  border: 300px;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 350px; /* Adjust the width to your desired size */
  padding: 30px; /* Adjust the padding to increase the internal space */
  border-radius: 8px;
  align-items: center;
  color: white;
  font-size: 18px;

}

.signup-container {
  background: 'splash_img.png';
  filter: blur(50px);
  -webkit-filter: blur(50px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  padding: 20px;
}


